<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <a class="navbar-brand" routerLink="/home">HMS</a>
    <div class="ml-auto">
      <a class="btn btn-light mr-3" routerLink="/reviews/add">Add Review</a>
      <a class="btn btn-outline-light" routerLink="/home">Home</a>
    </div>
  </nav>
  
  <!-- Reviews List -->
  <div class="container mt-3">
    <h2 class="text-center">Reviews List</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Hotel Name</th>
          <th>Rating</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let review of reviews">
          <td>{{ review.hotelName }}</td>
          <td>{{ review.rating }}</td>
          <td>{{ review.comments }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  