<h4>Register</h4>
<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>User Name</label>
            <input type="text" formControlName="userName" class="form-control"
                [ngClass]="{'is-invalid': registerForm.controls['userName'].errors, 'boldItalicError': registerForm.controls['userName'].errors}"/>

            <div *ngIf="registerForm.controls['userName'].errors" class="invalid-feedback boldItalicError">
                <div *ngIf="registerForm.controls['userName'].errors?.['required']">User Name is required</div>
                <div *ngIf="registerForm.controls['userName'].errors?.['minlength']">User Name must be at least 4 characters long</div>
                <div *ngIf="registerForm.controls['userName'].errors?.['maxlength']">User Name cannot be longer than 20 characters</div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" class="form-control"
                [ngClass]="{'is-invalid': registerForm.controls['email'].errors, 'boldItalicError': registerForm.controls['email'].errors}"/>

            <div *ngIf="registerForm.controls['email'].errors" class="invalid-feedback boldItalicError">
                <div *ngIf="registerForm.controls['email'].errors?.['required']">Email is required</div>
                <div *ngIf="registerForm.controls['email'].errors?.['email']">Enter a valid email</div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{'is-invalid': registerForm.controls['password'].errors, 'boldItalicError': registerForm.controls['password'].errors}"/>

            <div *ngIf="registerForm.controls['password'].errors" class="invalid-feedback boldItalicError">
                <div *ngIf="registerForm.controls['password'].errors?.['required']">Password is required</div>
                <div *ngIf="registerForm.controls['password'].errors?.['minlength']">Password must be at least 6 characters long</div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>

