<nav class="navbar navbar-dark navbar-expand-sm" style="background-color:black">
  <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
          <a routerLink="users" class="nav-link">User List</a>
      </li>
      <li class="nav-item">
          <a routerLink="add" class="nav-link">Add User</a>
      </li>
  </ul>
</nav>

<div class="container" style="margin:50px;background-color:aquamarine;padding:50px;border-radius: 25px;">
  <h1>Welcome to User Management</h1>
  <router-outlet></router-outlet>  
   <!-- <app-login></app-login> -->
  <br>
  <pre>Thank you! Have a wonderful day!!!! </pre>
</div>
