/* #body {
    background-color: antiquewhite;
    width: 1000px;
    margin-left: 150px;
    background-image: url(../assests/images/space.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

#form {
    border: 2px solid;
    border-collapse: collapse;
    background-color: azure;
}

.button{
    text-align: center;
    padding-top: 50px;
} */