<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascendion Registration Form</title>

    <style>
        td {
            font-size: x-large;
            padding: 15px;
        }

        tr {
            font-size: 20px;
        }

        input,
        select {
            font-size: large;
        }

        .navbar {
            overflow: hidden;
            background-color: #333;
        }

        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }

        td {
            font-size: large;
            padding: 10px;
        }

        input,
        select {
            font-size: medium;
        }

        #aboutContent {
            display: none;
            margin: 20px;
        }

        #thankYouSection {
            display: none;
            text-align: center;
            padding: 50px;
        }


        
    </style>
</head>

<body id="body">

    <header>
       
            <h1 style="color: rgb(255, 0, 0); font-style: oblique;">Welcome to the Ascendion Registration Page</h1>
        
    </header>


    <main>
        
            <form id="form">
                <u>
                    <h1 style="color: blue; font-style: italic;">REGISTRATION FORM</h1>
                </u>
                <table>
                    <tr>
                        <td><label for="">Enter Student Name:</label></td>
                        <td><input type="text" autofocus required></td>
                    </tr>
                    <tr>
                        <td><label for="">Email:</label></td>
                        <td><input type="email" id="email" placeholder="Enter Your Email"></td>
                    </tr>
                    <tr>
                        <td><label for="">Date of Birth:</label></td>
                        <td><input type="date"></td>
                    </tr>

                    <tr>
                        <td><label for="">Phone Number</label></td>
                        <td><input type="tel" maxlength="10" minlength="10" autofocus></td>
                    </tr>

                    <tr>
                        <td><label for="gender">Gender:</label></td>
                        <td>
                            <label for="male">Male</label>
                            <input type="radio" name="gen" id="male">
                            <label for="female">Female</label>
                            <input type="radio" name="gen" id="female">
                            <label for="others">Others</label>
                            <input type="radio" name="gen" id="others">
                        </td>
                    </tr>

                    <tr>
                        <td><label for="">Age</label></td>
                        <td><input type="number" min="18" max="60"></td>
                    </tr>

                    <tr>
                        <td><label for="">Address:</label></td>
                        <td><textarea name="" id="" cols="30" rows="1"></textarea></td>
                    </tr>

                    <tr>
                        <td><label for="">Highest Degree:</label></td>
                        <td><select name="Highest Degree" id="">
                                <option value="">Enter Degree</option>
                                <option value="">B.Tech</option>
                                <option value="">B.com</option>
                                <option value="">Bsc</option>
                            </select></td>
                    </tr>

                    <tr>
                        <td><label for="">Graduated Year:</label></td>
                        <td><input type="month"></td>
                    </tr>
                    <tr>
                        <td><label for="">Upload Your Resume:</label></td>
                        <td><input type="file"></td>
                    </tr>

                    <tr>
                        <td><label for="">Skills:</label></td>
                        <td><select name="" id="">
                                <optgroup label="Technical Skills:">
                                    <option value="">Html</option>
                                    <option value="">CSS</option>
                                    <option value="">Java Script</option>
                                </optgroup>
                                <optgroup label="Soft Skills:">
                                    <option value="">Time Management</option>
                                    <option value="">communication</option>
                                    <option value="">Adaptability</option>
                                </optgroup>
                            </select></td>
                    </tr>

                    <tr>
                        <td><label for="">Hobbies:</label></td>
                        <td><input type="checkbox">Sports <input type="checkbox">Traveling</td>
                    </tr>

                    <tr>
                        <td><label for="">Week of Joining:</label></td>
                        <td><input type="week"></td>
                    </tr>

                    <tr>
                        <td><label for="">Favourite Color:</label></td>
                        <td><input type="color"></td>
                    </tr>

                    <tr>
                        <td><label for="">English Proficiency:</label></td>
                        <td><input type="range" min="0" max="100" value="50" step="20"></td>
                    </tr>

                    <tr>
                        <td><label for="">Password:</label></td>
                        <td><input type="password" required></td>
                    </tr>

                    <tr>
                        <td class="button" colspan="2"><input style="color: red; border-radius: 6px; font-size: 20px;"
                                type="reset"> &nbsp &nbsp &nbsp
                            &nbsp
                            <input style="color: green; border-radius: 6px; font-size: 20px;" type="submit">
                        </td>
                    </tr>
                </table>

            </form>

        
    </main>

    


</body>

</html> -->


<h1>My Angular App</h1>
<h2>Property:{{ title }}</h2>
<h3>List of Employees</h3>
<!-- <ol *ngFor="let employee of employees">
    <li>{{employee.id}}</li>
</ol> -->
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Salary</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.salary}}</td>
        </tr>
    </tbody>
</table>