<h4>Update User</h4>
<form (ngSubmit)="updateUser()">
    <div class="form-group">
        <label for="id">Id:</label>
        <input type="text" class="form-control" name="id" [(ngModel)]="user.id" disabled>
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="user.name">
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="user.phoneNumber">
    </div>
    <div class="form-group">
        <label for="degree">Degree:</label>
        <input type="text" class="form-control" name="degree" [(ngModel)]="user.degree">
    </div>
    <div class="form-group">
        <label for="salary">Salary:</label>
        <input type="text" class="form-control" name="salary" [(ngModel)]="user.salary">
    </div>
    <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" class="form-control" name="age" [(ngModel)]="user.age">
    </div>
    <div class="form-group">
        <label for="gender">Gender:</label>
        <input type="text" class="form-control" name="gender" [(ngModel)]="user.gender">
    </div>
    <button class="btn btn-success">Update</button>
    <button type="reset" class="btn btn-info">Clear</button>
</form>

